@charset "utf-8";
.hide{
  width:0; height:0;
  font-size:0;line-height:0;
  position:absolute;
  visibility: hidden;
}
div#wrap{
  position:relative;
}
div#wrap>header{
  background-color:#81d8d0;
  position:relative;
}
header>div{
  width:1365px;
  padding:26px 0;
  position:relative;
  margin:0 auto;
  background-color:yellow;
}
header>div>h1{
  text-align:center;
}
header>div>ul{
position:absolute;
right:14px; top:14px;
}
header>div>ul>li{
  display:inline-block;
  padding:0 13px;
}
header>div>ul>li:last-child{
  border-left:1px solid #fff;
}
header>div>ul>li>a{
  color:#fff;
  font-size:16px;
}
header>p#btn{
  position:absolute;
  right:35px;
  top:50%; right:40px;
  width:40px; height:40px;
  background:red;
  margin-top:-20px;
}
nav{
  position:absolute;
  left:0; top:89px;
  width:100%;
  height:300px;
  background-color:rgba(255,255,255,0.6);
}
nav>div{
  padding:12px 0;
  background-color:#ffd0e0;
}
nav>div>ul{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
nav>div>ul>li{}
nav>div>ul>li>a{
  font-size:16px;
  color:#fff;
}
#box01{
  padding-top:40px;
  width:100%;
  height:796px;
  background:url('../images/gallery_back.png') no-repeat center bottom;
  box-sizing:border-box;
  background-size:100%;
  overflow:hidden;
  position:relative;
}
#box01>.title{
  position:absolute;
  left:50%;
  top:200px;
}
#box01>ul{
  width:400%;height:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;
}
#box01>ul>li{
  width:25%;
  height:100%;
  background:url('../images/set01.png') no-repeat center;

}
#box01>ul>li:nth-child(1){
  background-color:blue;
}
#box01>ul>li:nth-child(2){
  background-color:red;
  background-image:url('../images/set02.png');
}
#box01>ul>li:nth-child(3){
  background-color:yellow;
  background-image:url('../images/set03.png');
}
#box01>ul>li:nth-child(4){
  background-color:green;
  background-image:url('../images/set04.png');
}
#box01>#prev{
  position:absolute;
  left:100px;
  top:50%;
}
#box01>#next{
  position:absolute;
  right:100px;
  top:50%;
}
#box01>.circle{
  position:absolute;
  width:100%;
  left:0; bottom:30px;
  background-color:#666;
}
#box02{
  padding:85px 0 150px;
}
#box02>div{
  width:1365px;
  margin: 0 auto;
  background-color:yellow;
  color:#666666;
}
#box02>div>h3{
  margin-bottom:108px;
  font:bold 45px Times, sans-serif;
  text-align:center;
  color:#666666;
}
#box02>div>p{
  padding-right:50%;
  font:23px/36px Arial, sans-serif;
  background:url('../images/sec01_pic.png') no-repeat 836px top;
  box-sizing:border-box;
}
/* box03 */
#box03{}
#box03>h3{
  height:440px;
  background:linear-gradient(#dff6f2 0%,#bae8e4 80%);
}
#box03>h3>span{
  display:flex;
  justify-content: center;
  align-items: center;
  width:1365px;
  height:100%;
  background:url('../images/gifts_gifts1_bg2.png') no-repeat left bottom,
  url('../images/gifts_gifts1_bg1.png') no-repeat right top;
  margin: 0 auto;
  font:bold 100px Times,serif;
  text-shadow:2px 2px 5px rgba(0,0,0,0.7);
  color:#fff;
}
#box03>div{
  padding:40px 0;
  width:930px;
  margin: 0 auto;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
#box03>div>figure{
width:220px;
padding:26px 0 8px;
background-color:#f2f2f2;
text-align:center;
color:#666;
}
/* box04 */
#box04{}
#box04>h3{
  height:440px;
  background:linear-gradient(45deg,#f4e6ee 10%,#c8c0db 80%)
}
#box04>h3>span{
  display:flex;
  justify-content: center;
  align-items: center; 
  width:1365px;
  height:100%;
  background:url('../images/gifts_gifts2_bg1.png') no-repeat left top,
  url('../images/gifts_gifts2_bg2.png') no-repeat right bottom;
  margin: 0 auto;
  font:bold 100px Times,serif;
  text-shadow:2px 2px 5px rgba(0,0,0,0.7);
  color:#fff;
}
#box04>div{
  width:930px;
  margin: 0 auto;
  padding:40px 0;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
#box04>div>figure{
width:220px;
padding:0px 0 8px;
background-color:#f2f2f2;
text-align:center;
color:#666;
}
#box04>div>figure>img{
  padding-bottom:26px;
}
/* box05 */
#box05{
  height:660px;

  box-sizing:border-box;
  background:linear-gradient(#f4f4f4 10% ,#919191 90% );
}
#box05>div{
  width:1365px;
  padding:156px 0 166px 50%;
  margin: 0 auto;
  font-family:Times,sans-serif;
  color:#666666;
  background:url('../images/sec04_pic.png') no-repeat left -100px;
  box-sizing:border-box;
}
#box05>div>h3{
  width:450px;
  font-size:60px;
  margin-bottom:33px;
  font-weight:bold;
  text-align:center;
}
#box05>div>p{
  width:450px;
  font-weight:lighter;
  font-size:33px;
  margin-bottom:95px;
  text-align:center;
}
#box05 form{
  width:450px;
  font-size:15px;
  line-height:34px;
  font-family:Times, serif;
  
}
#box05 form ul>li{
  margin-bottom:17px;
}
#box05 form ul>li>label{
  display:inline-block;
  width:135px;
}
#box05 form ul>li>input{
  width:308px;
  box-sizing:border-box;
  border:none;
  background-color:rgba(255,255,255,0.5);
  color:#fff;
  text-indent:15px;
  line-height:34px;
}
#box05 form ul>li>input:focus{
  border:none;
}
#box05 form ul>li:last-child{
  text-align:right;
}
#box05 form ul>li>input:submit{
  background-color:#727272;}